<!DOCTYPE html>
<html lang="en">
<head>
	<title>Login V10</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->	
{% load static %}
<link rel="stylesheet" href="{% static 'css/bootstrap.css' %}" media="screen">

<script src="../static/js/OpenLayers.js"></script>
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script src="https://code.highcharts.com/modules/export-data.js"></script>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>


<!--===============================================================================================-->


<script>

	$(function(){
		$('#fuente').click(function() {
		
			if ($("#" + 'aumentado').length == 0) {
				
				$("html").css("font-size", "1.5rem");
				
				$("#fuente").eq(0).attr('value', 'Disminuir fuente');
				$("#fuente").eq(0).attr('id', 'aumentado');

			}else if($("#" + 'aumentado').length != 0){
				
				$("html").css("background-color", "white");
				$("html").css("font-size", "1rem");
				
				$("#aumentado").eq(0).attr('value', 'Aumentar fuente');
				$("#aumentado").eq(0).attr('id', 'fuente');
			}

		
		});
		
		
		$('#nocturno').click(function() {			

			if ($("#" + 'activado').length == 0) {
				
				$("body").css("background-color", "black");
				$("body").css("color", "white");
				
				$("#nocturno").eq(0).attr('id', 'activado');

			}else if($("#" + 'activado').length != 0){
				
				$("body").css("background-color", "white");
				$("body").css("color", "black");
				
				$("#activado").eq(0).attr('id', 'nocturno');
			}

			
		});


		$('#logo').click(function() {

			if ($("#" + 'logoOff').length == 0) {
				
				$('#logoimg').fadeOut(1000);

				$("#logo").eq(0).attr('value', 'Mostrar logo');
				
				$("#logo").eq(0).attr('id', 'logoOff');

			}else if($("#" + 'logoOff').length != 0){
				
				$('#logoimg').fadeIn(1000);

				$("#logoOff").eq(0).attr('value', 'Ocultar logo');
				
				$("#logoOff").eq(0).attr('id', 'logo');
			}
		});
		
	
	});




</script>

</head>
<body>
		
	
	{% load socialaccount %}
	
	{%if user.is_authenticated %}
		<span>
			<h1> Bienvenido:  {{ user.username }} </h1>
		</span>		
	
		<h2> RESTAURANTES </h2> <h3> <a href="{% url 'platos' %}"> Acceder a platos </a></h3>
		<h3><a href="{% url 'buscarajax' %}"> Buscar AJAX </a></h3>

		<h4> <a href="{% url 'logout' %}"> Cerrar sesion </a> </h4>

	{% else %}
		<h2> RESTAURANTES </h2> <h3> <a href="{% url 'platos' %}"> Acceder a platos </a></h3>
		<h3><a href="{% url 'buscarajax' %}"> Buscar AJAX </a></h3>
		<h4> <a href="{% url 'login' %}"> Acceder a login </a></h4>
		<h4> <a href="{% url 'signup' %}"> Registrarse </a> </h4> 
	{% endif %}


	<img id="logoimg" src="{% static 'img/sample-logo.png' %}">


	<input class="botones" id="fuente" type="button" value="Aumentar fuente" />
	
	<input class="botones" id="nocturno" type="button" value="Modo nocturno" />

	<input class="botones" id="logo" type="button" value="Ocultar logo" />
	
	



	<div style="overflow:hidden;text-align: center; padding: 10px;">

		{%if error %}
		<h4 style="color: lightcoral">Restaurante para añadir no válido</h4> 
		{% endif %}
		{%if addok %}
		<h4 style="color: lightgreen">Restaurante añadido</h4> 
		{% endif %}

		{%if no_modificado %}
		<h4 style="color: lightcoral">Restaurante no modificado</h4> 
		{% endif %}
		{%if modificado %}
		<h4 style="color: lightgreen">Restaurante modificado</h4> 
	{% endif %}




		
		<div style="float:left;">
		<form action="{% url 'buscar' %}" method="POST">
			{% csrf_token %}
			<input type="text" name="nombre" placeholder="Introduce aqui el nombre">
			<input type="submit" value="Buscar">
		</form>		
		</div><br><br>


		<div style="text-align: left;">
			<form action="{% url 'add' %}" method="POST">
				{% csrf_token %}
				<input type="text" name="nombre" placeholder="Nombre">
				<input type="text" name="location_x" placeholder="Localizacion X">
				<input type="text" name="location_y" placeholder="Localizacion Y">
				<input type="text" name="id" placeholder="ID">
				<input type="submit" value="Añadir">
			</form><br>
		</div>
		{%if lista %}
        <div>			
			<span>
				<table class="table table-striped">
					<thead>
						<tr>
							<th scope="col"> Restaurante: </th>
							<th scope="col"> Localizacion: </th>
							<th scope="col"> ID: </th>
						</tr>
					</thead>
					<tbody>
						{%for r in lista %}
						<tr>
							<form action="{% url 'modificar' %}" method="POST">
								{% csrf_token %}
								<td> <input type="text" name="nombre_mod" value="{{ r.name }}"> </td> 
								<td> {{ r.location.coordinates }}</td>
								<td> <input type="hidden" name="id_mod" value="{{ r.id }}"> {{ r.id }} </td>
								<td> 
									<input type="submit" value="Modificar">
								</td>
							</form>
								
						</tr>
						{% endfor %}
					</tbody>
				
				</table>
				{% if paginasiguiente > 10 %}
					<a class="botones" href="{% url 'buscarget' paginaanterior busqueda %}"> Anterior </a>
					&nbsp; <strong> | </strong> &nbsp;
				{% endif %}
					<a class="botones" href="{% url 'buscarget' paginasiguiente busqueda %}"> Siguiente </a>
			</span> 
		</div> 	
	{% endif %}
		
	<!-- INSERTAR GRÁFICO -->


		{% if verGrafico %}
			<br>
			<span>
				<h1> Gráfico </h1>
				
				{% for elem in comunes %}
				
					<p class="comunes" hidden > {{ elem }} </p>
				
				{% endfor %}
				
				<p id="ap1" hidden> {{ apariciones.0 }} </p>
				<p id="ap2" hidden> {{ apariciones.1 }} </p>
				<p id="ap3" hidden> {{ apariciones.2 }} </p>

				<div id="container" style="min-width: 310px; height: 400px; max-width: 600px; margin: 0 auto"></div>
				
				<script>
					
					var nombres = document.getElementsByClassName("comunes");
					var ap1 = parseInt(document.getElementById("ap1").innerHTML);
					var ap2 = parseInt(document.getElementById("ap2").innerHTML);
					var ap3 = parseInt(document.getElementById("ap3").innerHTML);

			

					Highcharts.chart('container', {
						chart: {
							plotBackgroundColor: null,
							plotBorderWidth: null,
							plotShadow: false,
							type: 'pie'
						},
						title: {
							text: 'Frecuencia de restaurantes con el mismo nombre '
						},
						tooltip: {
							pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
						},
						plotOptions: {
							pie: {
								allowPointSelect: true,
								cursor: 'pointer',
								dataLabels: {
									enabled: true,
									format: '<b>{point.name}</b>: {point.percentage:.1f} %',
									style: {
										color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
									}
								}
							}
						},
						series: [{
							name: 'Apariciones',
							colorByPoint: true,
							data: [{
								name: nombres[0].innerHTML,
								y: ap1,
								sliced: true,
								selected: true
							}, {
								name: nombres[1].innerHTML,
								y: ap2
							}, {
								name: nombres[2].innerHTML,
								y: ap3
							}]
						}]
					});


				
				</script>

				
			</span>
		{% endif %}

		
		<!-- INSERTAR MAPA -->

		<div id="demoMap" style="height:250px"></div>

		<script>
			map = new OpenLayers.Map("demoMap");
			map.addLayer(new OpenLayers.Layer.OSM());
			map.zoomToMaxExtent();
		</script>



		

</body>




</html>
