<!DOCTYPE html>
<html lang="en">
<head>
	<title>Login V10</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->	
{% load static %}
<link rel="stylesheet" href="{% static 'css/bootstrap.css' %}" media="screen">

<!--===============================================================================================-->
</head>
<body>
	<div style="overflow:hidden;text-align: center; padding: 10px;">

		{%if error %}
		<h4 style="color: lightcoral">Restaurante para añadir no válido</h4> 
		{% endif %}
		{%if addok %}
		<h4 style="color: lightgreen">Restaurante añadido</h4> 
		{% endif %}

		{%if no_modificado %}
		<h4 style="color: lightcoral">Restaurante no modificado</h4> 
		{% endif %}
		{%if modificado %}
		<h4 style="color: lightgreen">Restaurante modificado</h4> 
		{% endif %}


		<div style="float:left;">
		<form action="{% url 'buscar' %}" method="POST">
			{% csrf_token %}
			<input type="text" name="nombre" placeholder="Introduce aqui el nombre">
			<input type="submit" value="Buscar">
		</form>
		</div><br><br>
		<div style="text-align: left;">
			<form action="{% url 'add' %}" method="POST">
				{% csrf_token %}
				<input type="text" name="nombre" placeholder="Nombre">
				<input type="text" name="location_x" placeholder="Localizacion X">
				<input type="text" name="location_y" placeholder="Localizacion Y">
				<input type="text" name="id" placeholder="ID">
				<input type="submit" value="Añadir">
			</form><br>
		</div>
		{%if lista %}
        <div>			
			<span>
				<table class="table table-striped">
					<thead>
						<tr>
							<th scope="col"> Restaurante: </th>
							<th scope="col"> Localizacion: </th>
							<th scope="col"> ID: </th>
						</tr>
					</thead>
					<tbody>
						{%for r in lista %}
						<tr>
							<form action="{% url 'modificar' %}" method="POST">
								{% csrf_token %}
								<td> <input type="text" name="nombre_mod" value="{{ r.name }}"> </td> 
								<td> {{ r.location.coordinates }}</td>
								<td> <input type="hidden" name="id_mod" value="{{ r.id }}"> {{ r.id }} </td>
								<td> 
									<input type="submit" value="Modificar">
								</td>
							</form>
								
						</tr>
						{% endfor %}
					</tbody>
				</table>
			</span> 
		</div> 	
	{% endif %}

</body>
</html>
