<!DOCTYPE html>
<html lang="en">
<head>
	<title>Login V10</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->	
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
<!--===============================================================================================-->
</head>
<body>
	<div style="overflow:hidden;text-align: center; padding: 10px;">
	{%if usuario %}
		<span>
			<h1> Bienvenido  {{ usuario }} </h1>
		</span>		
		<h4><a href="/buscar_restaurante">  Buscar/Modificar restaurante </a></h4>
		<h4><a href="/close"> Cerrar sesion </a></h4>
		<h4><a href="/modificar"> Modificar datos de usuario </a></h4> <br> <hr>
		Pag 1: <a href ="/pag1">Ir a pagina 1</a> <br>
		Pag 2: <a href ="/pag2">Ir a pagina 2</a> <br>
		Pag 3: <a href ="/pag3">Ir a pagina 3</a> <br>
		
		<div>
			Últimas paginas visitadas 
			<h5>1º: <a href="{{ pag1 }}"> {{pag1}} </a></h5>
			<h5>2º: <a href="{{ pag2 }}"> {{pag2}} </a></h5>
			<h5>3º: <a href="{{ pag3 }}"> {{pag3}} </a></h5>
		</div>
		
			{% block content %}
			{% endblock %}


	{% else %}
		{% if error %}
			<h3 style="color:red"> Usuario inexistente</h3>
		{% endif %}
		
		<div>
			<div>
				<div>
					<form action="login" method="POST">
						<span>
							<h4> Login </h4>
						</span> 

						
						<div data-validate = "Username is required">
							<input type="text" name="loginusername" placeholder="Username">
							<span ></span>
						</div> <br>
						
						
						<div data-validate = "Password is required">
							<input  type="password" name="loginpass" placeholder="Password">
							<span ></span>
						</div> <br>
						
						<div>
							<button>
								Login
							</button>
						</div> <br> <br>

					</form>
				</div>
			</div>
		</div>
	
				
		<div>
			<div>
				<div>
					<form action="registro" method="POST">
						<span>
							<h4> Registro </h4>
						</span> 

						
						<div data-validate = "Username is required">
							<input type="text" name="username" placeholder="Username">
							<span ></span>
						</div> <br>

						<div  data-validate = "Nombre completo is required">
							<input type="text" name="nombre" placeholder="Nombre completo">
							<span ></span>
						</div> <br>
						

						<div  data-validate = "Email is required">
							<input type="text" name="email" placeholder="Email">
							<span ></span>
						</div> <br>
						
						
						<div  data-validate = "Password is required">
							<input type="password" name="pass" placeholder="Password">
							<span ></span>
						</div> <br>
						
						<div >
							<button >
								Registro
							</button> <br>
						</div>

					</form>
				</div>
			</div>
		</div>
	</div>
	{% endif %}
	

</body>
</html>
